
 body{
    background-color: rgb(36, 85, 124);
    padding: 10px;
}
h1 {color: #2c3e50;
        background-color: #c0d8ee;
            font-weight: bold;
            font-size: 2em;
            border-left: 4px solid #3498db;
            border-right: 4px solid #3498db;
            padding: 10px;
            text-align: center;
            }
h2 {background-color: #eae7f6;
        font-weight: bold;
    font-size: 1em;
    padding: 20px;
    width: 80%;
    margin: 10 auto;
    border: 2px solid #003366;
    align-items: center;
 }
p {background-color: #abdff1;
    font-size: 1em;
    padding: 30px;
    width: 30%;
    border: 3px solid #d6045c;
align-items: center; }

h3{
    text-align: left;
    color: rgb(143, 231, 29);
 }
   
script{
    color: #9d0a00;
       font-size: 3em;}
       
 button {
  background-color: #0c407f; 
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    color: rgb(12, 241, 238);
}
.respuesta{
        color: black;
       font-size: 24px;
       text-align: center;
 }  